.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.modal input::-ms-clear,
.modal input::-ms-reveal {
  display: none;
}
.modal > div {
  position: relative;
}
.modal > div .closebtn {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;
  color: #c0c7cc;
  font-size: 20px;
  transform: rotate(0deg);
  transition: transform .5s;
}
.modal > div .closebtn:hover {
  transform: rotate(90deg);
}
.modal .box {
  max-width: 560px;
  background-color: #fff;
  padding: 40px;
  margin: 100px auto 50px;
  position: relative;
}
.modal .box .guide {
  font-size: 20px;
  line-height: 30px;
  color: #666;
  border-bottom: 1px solid #dde0ea;
}
.modal .box .guide span {
  display: inline-block;
  padding: 0 40px 15px;
  cursor: pointer;
}
.modal .box .guide span.on {
  color: #bd8a4c;
  border-bottom: 2px solid #bd8a4c;
}
.modal .box .information {
  padding: 35px 30px;
  overflow: hidden;
}
.modal .box .information ul {
  display: none;
}
.modal .box .information ul p {
  font-size: 16px;
  line-height: 30px;
  color: #333;
}
.modal .box .information ul p.msg {
  color: #ef3e16;
  font-size: 14px;
}
.modal .box .information ul li {
  position: relative;
}
.modal .box .information ul li input[type="text"],
.modal .box .information ul li input[type='password'] {
  line-height: 50px;
  height: 50px;
  width: 100%;
  padding-left: 20px;
  font-size: 14px;
  color: #999;
}
.modal .box .information ul li input[type="text"]:focus,
.modal .box .information ul li input[type='password']:focus {
  color: #333;
}
.modal .box .information ul li > span {
  position: absolute;
  right: 10px;
  top: 46px;
  font-size: 20px;
  color: #b5b9bc;
}
.modal .box .information ul li .icon-eye {
  display: none;
}
.modal .box .information ul li.psd.cansee .icon-eye {
  display: block;
}
.modal .box .information ul li.psd.cansee .icon-closeeye {
  display: none;
}
.modal .box .information ul button {
  width: 100%;
  color: #fff;
  height: 50px;
  font-size: 18px;
  background-color: #bd8a4c;
  border: none;
  margin-top: 10px;
}
.modal .box .information ul .other {
  margin-top: 20px;
}
.modal .box .information ul .other a {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #b5b9bc;
  color: #fff;
  text-align: center;
  margin: 0 15px;
}
.modal .box .information ul .other a:first-of-type i {
  margin-right: 1px;
}
.modal .box .information .log li.forget {
  margin-top: 15px;
  font-size: 14px;
}
.modal .box .information .log li.forget label {
  vertical-align: middle;
}
.modal .box .information .log li.forget a {
  float: right;
  color: #333;
}
.modal .box .information .log li.forget a:hover {
  color: #bd8a4c;
}
.modal .box .information .reg .test input[type='text'] {
  width: 60%;
}
.modal .box .information .reg .test .imgbox,
.modal .box .information .reg .test button {
  float: right;
  height: 50px;
  width: 35%;
  background-color: #fff2e3;
  color: #bd8a4c;
  margin: 0;
}
.modal .box .information .reg .test .imgbox img,
.modal .box .information .reg .test button img {
  width: 100%;
  height: 50px;
}
.modal .box .information .reg .agree a {
  color: #236eca;
}
.modal .box .information ul.on {
  display: block;
}
.modal .box.company .information > div {
  display: none;
}
.modal .box.company .information > div.on {
  display: block;
}
.modal .box.company .information .steptwo .landline {
  overflow: hidden;
}
.modal .box.company .information .steptwo .landline input,
.modal .box.company .information .steptwo .landline div {
  float: left;
}
.modal .box.company .information .steptwo .landline input {
  width: 20%;
}
.modal .box.company .information .steptwo .landline input:nth-of-type(2) {
  width: 46%;
}
.modal .box.company .information .steptwo .landline div {
  width: 4%;
  height: 1px;
  background: #b5b9bc;
  margin: 24px 1.5% 0;
}
.modal .box.company .information .steptwo .explain {
  font-size: 12px;
  line-height: 18px;
  color: #bd8a4c;
}
.modal .box.company .information .steptwo .btns {
  text-align: center;
}
.modal .box.company .information .steptwo .btns button {
  width: 45%;
}
.modal .box.company .information .steptwo .btns button:first-of-type {
  background-color: #fff;
  border: 1px solid #bd8a4c;
  color: #bd8a4c;
  float: left;
}
.modal .box.company .information .steptwo .btns button:last-of-type {
  float: right;
}
.modal .complete {
  max-width: 560px;
  background-color: #fff;
  padding: 40px;
  margin: 200px auto;
  position: relative;
  text-align: center;
}
.modal .complete span {
  font-size: 24px;
  color: #333;
}
.modal .complete p {
  color: #666;
  font-size: 16px;
  margin: 10px 0 40px;
}
.modal .complete button {
  max-width: 170px;
  width: 40%;
  margin-right: 3%;
  height: 50px;
  color: #fff;
  background-color: #d1d1d1;
  border: none;
  font-size: 18px;
}
.modal .complete button:nth-of-type(2) {
  background-color: #bd8a4c;
}
.modal .mailconfirm {
  max-width: 560px;
  background-color: #fff;
  margin: 50px auto;
  position: relative;
}
.modal .mailconfirm .top {
  background-color: #fdf9f3;
  font-size: 20px;
  line-height: 56px;
  color: #bd8a4c;
  padding-left: 30px;
}
.modal .mailconfirm div:nth-of-type(2) {
  padding: 30px 88px;
  text-align: center;
}
.modal .mailconfirm div:nth-of-type(2) span {
  font-size: 20px;
  color: #333;
  line-height: 30px;
}
.modal .mailconfirm div:nth-of-type(2) p {
  text-align: left;
  line-height: 30px;
  font-size: 14px;
  margin: 20px 0 30px;
}
.modal .mailconfirm div:nth-of-type(2) p a {
  font-size: 14px;
  text-decoration: underline;
}
.modal .mailconfirm div:nth-of-type(2) a {
  font-size: 16px;
  color: #bd8a4c;
}
@media (max-width: 480px) {
  .modal .box {
    padding: 10px 0;
  }
  .modal .box .information {
    padding: 25px 20px;
  }
}
