/* LESS Document */
* {
  margin: 0;
  padding: 0;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
audio,
canvas,
video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
  visibility: hidden;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
  font-weight: normal;
}
em,
q,
cite,
address {
  font-weight: normal;
  font-style: normal;
}
address {
  display: inline;
}
big,
small {
  font-size: 12px;
}
body {
  font: 14px/1.5 "PinFang SC", "Microsoft Yahei", Microsoft Yahei, "Hiragino Sans GB", sans-serif;
  vertical-align: middle;
  color: #333;
  background: #fff;
}
img {
  border: 0;
}
li {
  list-style: none;
}
i {
  font-style: normal;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
}
strong {
  font-weight: bold;
}
del {
  font-family: "PinFang SC", Simsun;
}
dfn {
  padding-right: 2px;
  text-decoration: none;
  font-family: Arial;
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  text-align: left;
  font-weight: normal;
}
fieldset,
legend {
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button,
input,
select,
select optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  vertical-align: middle;
}
button,
input,
select[multiple],
textarea {
  background-image: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/* link */
a {
  color: #333;
  text-decoration: none;
  outline-style: none;
  cursor: pointer;
}
a:hover {
  color: #06c;
  text-decoration: underline;
  transition: color .20s linear;
  -o-transition: color .20s linear;
  -webkit-transition: color .20s linear;
  -moz-transition: color .20s linear;
}
a:link {
  text-decoration: none;
  cursor: pointer;
}
/*---------- 实用工具 ----------*/
/* form */
input,
select {
  vertical-align: middle;
  font-size: 14px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
  color: #333;
  outline: none;
}
input[type="text"]:disabled {
  background-color: #bbbbbb;
  color: #666;
}
input[type="checkbox"],
input[type="radio"] {
  margin-right: 4px;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: #33b0c4;
  color: #fff;
}
/* input placeholder color */
input::-webkit-input-placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}
input::-moz-placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}
input:-moz-placeholder {
  /* Older versions of Firefox */
  color: #bbbbbb;
  text-transform: uppercase;
}
input:-ms-input-placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}
/* 清除浮动 */
/* 圆角 */
/* link in text */
a.t {
  text-decoration: underline;
}
a.t:hover {
  color: #f30;
  text-decoration: underline;
}
/* clear float */
.cf {
  zoom: 1;
}
/* for IE */
.cf:after {
  content: ".";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
/* for other */
/* end of clear float */
/* float */
.left {
  float: left;
}
.right {
  float: right;
}
.fnone {
  float: none;
}
.middle {
  float: left;
}
/* text-align */
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.tcenter {
  text-align: center;
}
/* display */
.dis {
  display: block;
}
.undis {
  display: none;
}
/*常用字号*/
/*常用颜色*/
/* 圆角  */
/*边框圆角*/
.sanjiao {
  border-width: 20px;
  border-color: transparent transparent #ccc transparent;
  border-style: dashed dashed solid dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
/* clicked color */
.clcikActive {
  color: #fff;
  background: #33b0c4;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
/*单行载断*/
/*单行载断溢出省略号*/
/*3行载断溢出省略号*/
/*配模式定位*/
/* 水平垂直居中的公共类 */
/* 水平居中公共类 */
/* 垂直居中公共类 */
/*1200屏*/
/* 背景自适应 */
.main {
  background-color: #f7f7f9;
  width: 100%;
  padding: 40px 0;
}
.main .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.main .topic {
  padding: 30px;
  background-color: #fff;
  overflow: hidden;
}
.main .topic > div {
  height: 370px;
  float: left;
}
.main .topic > div .imgbox {
  text-align: center;
}
.main .topic > div .imgbox > img {
  width: 100%;
  height: 292px;
}
.main .topic .topic-left {
  width: 46%;
}
.main .topic .topic-left p {
  text-align: left;
  font-size: 14px;
  line-height: 32px;
  color: #999;
}
.main .topic .topic-left p b {
  font-weight: 400;
  background-color: #f5f5f8;
  padding: 2px 5px;
  margin-right: 5px;
}
.main .topic .topic-right {
  width: 54%;
  padding: 0 10px 0 25px;
}
.main .topic .topic-right h2 {
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 40px;
}
.main .topic .topic-right > p {
  color: #ff533c;
  font-size: 36px;
  position: relative;
  padding-left: 40px;
}
.main .topic .topic-right > p span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  color: #666;
  line-height: 30px;
}
.main .topic .topic-right .information {
  border-top: 1px solid #e9e9f0;
}
.main .topic .topic-right .information > div {
  color: #666;
  line-height: 22px;
  margin: 15px 0;
  letter-spacing: 1px;
}
.main .topic .topic-right .information > div span {
  float: left;
  font-size: 17px;
  color: #999;
}
.main .topic .topic-right .information > div p {
  margin-left: 30px;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main .topic .topic-right .information > div p b {
  color: #dd9947;
  font-weight: 400;
}
.main .topic .topic-right .information > div p span {
  font-size: 12px;
  color: #999;
}
.main .topic .topic-right .information .act-time p {
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main .topic .topic-right .information .act-host span i {
  font-size: 22px;
  margin-left: -3px;
}
.main .topic .topic-right .ticket {
  width: 240px;
  padding: 9px 15px;
  border: 1px solid #eaeaf2;
  margin-left: 30px;
}
.main .topic .topic-right .ticket span {
  float: right;
  color: #60b531;
  font-size: 16px;
  border-left: 1px solid #eaeaf2;
  padding: 0 10px 0 20px;
}
.main .topic .topic-right > a {
  display: inline-block;
  width: 50%;
  max-width: 238px;
  line-height: 44px;
  background-color: #dd9947;
  color: #fff;
  text-align: center;
  margin: 20px 15px 20px 30px;
  font-size: 18px;
}
.main .topic .topic-right .collect {
  width: 30%;
  max-width: 120px;
  background-color: #f5f5f8;
  color: #dd9947;
  margin: 0;
}
.main .topic .topic-right .collect .icon-star-full {
  display: none;
}
.main .topic .topic-right .collect.on .icon-star-full {
  display: inline;
}
.main .topic .topic-right .collect.on .icon-star-empty {
  display: none;
}
.main .eventdetail {
  margin-top: 30px;
  overflow: hidden;
}
.main .eventdetail .rightside {
  width: 250px;
  float: right;
}
.main .eventdetail .rightside > div {
  background-color: #fff;
}
.main .eventdetail .rightside .hostcompany {
  padding: 35px 0 20px;
  text-align: center;
}
.main .eventdetail .rightside .hostcompany p {
  line-height: 40px;
}
.main .eventdetail .rightside .hostcompany span {
  font-size: 12px;
  color: #999;
  line-height: 40px;
}
.main .eventdetail .rightside .hostcompany a {
  display: block;
  width: 150px;
  line-height: 35px;
  border: 1px solid #dd9947;
  text-align: center;
  color: #dd9947;
  margin: 10px auto;
}
.main .eventdetail .rightside .recommend {
  margin-top: 20px;
}
.main .eventdetail .rightside .recommend h3 {
  font-weight: 600;
  line-height: 40px;
  padding: 0 20px;
  border-bottom: 1px solid #e9e9f0;
}
.main .eventdetail .rightside .recommend h3 a {
  float: right;
  color: #999;
  transform: rotate(0);
}
.main .eventdetail .rightside .recommend h3 a.on {
  transition: all .7s;
  transform: rotate(180deg);
}
.main .eventdetail .rightside .recommend ul {
  padding: 0 20px;
}
.main .eventdetail .rightside .recommend ul li {
  padding: 20px 0;
  font-size: 12px;
  color: #999;
  border-bottom: 1px dashed #e9e9f0;
}
.main .eventdetail .rightside .recommend ul li img {
  width: 100%;
  height: 110px;
}
.main .eventdetail .rightside .recommend ul li a {
  display: block;
  line-height: 22px;
  color: #333;
  font-size: 14px;
  margin: 5px 0;
}
.main .eventdetail .rightside .recommend ul li a:hover {
  color: #dd9947;
}
.main .eventdetail .rightside .recommend ul li:last-of-type {
  border-bottom: none;
}
.main .eventdetail .leftside {
  background-color: #fff;
  margin-right: 270px;
  padding: 35px 30px;
  min-height: 1082px;
}
.main .eventdetail .leftside h2 {
  font-size: 18px;
  line-height: 40px;
  border-bottom: 1px solid #e9ebf2;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 20px;
}
.main .eventdetail .leftside h2:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 1px;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: #dd9947;
}
.main .eventdetail .leftside h3,
.main .eventdetail .leftside p {
  font-size: 14px;
  color: #666;
  line-height: 26px;
}
.main .eventdetail .leftside p {
  text-indent: 20px;
  text-align: justify;
}
.main .eventdetail .leftside h3 {
  color: #333;
  margin-top: 30px;
  font-weight: 600;
}
.main .eventdetail .leftside li {
  font-size: 14px;
  line-height: 30px;
  padding-left: 20px;
  border-left: 1px solid #e9ebf2;
}
@media (max-width: 768px) {
  .main .topic .topic-left,
  .main .topic .topic-right {
    width: 100%;
    padding: 0;
    height: auto;
  }
  .main .eventdetail .rightside {
    display: none;
  }
  .main .eventdetail .leftside {
    margin-right: 0;
  }
}
