/* LESS Document */
* {
  margin: 0;
  padding: 0;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
audio,
canvas,
video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
  visibility: hidden;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
  font-weight: normal;
}
em,
q,
cite,
address {
  font-weight: normal;
  font-style: normal;
}
address {
  display: inline;
}
big,
small {
  font-size: 12px;
}
body {
  font: 14px/1.5 "PinFang SC", "Microsoft Yahei", Microsoft Yahei, "Hiragino Sans GB", sans-serif;
  vertical-align: middle;
  color: #333;
  background: #fff;
}
img {
  border: 0;
}
li {
  list-style: none;
}
i {
  font-style: normal;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
}
strong {
  font-weight: bold;
}
del {
  font-family: "PinFang SC", Simsun;
}
dfn {
  padding-right: 2px;
  text-decoration: none;
  font-family: Arial;
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  text-align: left;
  font-weight: normal;
}
fieldset,
legend {
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button,
input,
select,
select optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  vertical-align: middle;
}
button,
input,
select[multiple],
textarea {
  background-image: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/* link */
a {
  color: #333;
  text-decoration: none;
  outline-style: none;
  cursor: pointer;
}
a:hover {
  color: #06c;
  text-decoration: underline;
  transition: color .20s linear;
  -o-transition: color .20s linear;
  -webkit-transition: color .20s linear;
  -moz-transition: color .20s linear;
}
a:link {
  text-decoration: none;
  cursor: pointer;
}
/*---------- 实用工具 ----------*/
/* form */
input,
select {
  vertical-align: middle;
  font-size: 14px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
  color: #333;
  outline: none;
}
input[type="text"]:disabled {
  background-color: #bbbbbb;
  color: #666;
}
input[type="checkbox"],
input[type="radio"] {
  margin-right: 4px;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: #33b0c4;
  color: #fff;
}
/* input placeholder color */
input::-webkit-input-placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}
input::-moz-placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}
input:-moz-placeholder {
  /* Older versions of Firefox */
  color: #bbbbbb;
  text-transform: uppercase;
}
input:-ms-input-placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}
/* 清除浮动 */
/* 圆角 */
/* link in text */
a.t {
  text-decoration: underline;
}
a.t:hover {
  color: #f30;
  text-decoration: underline;
}
/* clear float */
.cf {
  zoom: 1;
}
/* for IE */
.cf:after {
  content: ".";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
/* for other */
/* end of clear float */
/* float */
.left {
  float: left;
}
.right {
  float: right;
}
.fnone {
  float: none;
}
.middle {
  float: left;
}
/* text-align */
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.tcenter {
  text-align: center;
}
/* display */
.dis {
  display: block;
}
.undis {
  display: none;
}
/*常用字号*/
/*常用颜色*/
/* 圆角  */
/*边框圆角*/
.sanjiao {
  border-width: 20px;
  border-color: transparent transparent #ccc transparent;
  border-style: dashed dashed solid dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
/* clicked color */
.clcikActive {
  color: #fff;
  background: #33b0c4;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
/*单行载断*/
/*单行载断溢出省略号*/
/*3行载断溢出省略号*/
/*配模式定位*/
/* 水平垂直居中的公共类 */
/* 水平居中公共类 */
/* 垂直居中公共类 */
/*1200屏*/
/* 背景自适应 */
.main {
  background-color: #f7f7f9;
  width: 100%;
  padding: 20px 0 40px;
}
.main .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.main .brand {
  line-height: 28px;
  color: #999;
}
.main .brand a {
  color: #333;
}
.main .eventdetail {
  margin-top: 20px;
  overflow: hidden;
}
.main .eventdetail ul li {
  padding: 25px 20px;
  border-bottom: 1px dashed #d9dce7;
  overflow: hidden;
  position: relative;
}
.main .eventdetail ul li > a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main .eventdetail ul li img {
  float: left;
  width: 29%;
  height: 160px;
}
.main .eventdetail ul li > div {
  margin-left: 29%;
  padding-left: 20px;
  height: 160px;
}
.main .eventdetail ul li > div h4 {
  font-size: 16px;
  color: #333;
  line-height: 28px;
  transition: color .5s;
}
.main .eventdetail ul li > div p {
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-height: 24px;
  color: #666;
}
.main .eventdetail ul li > div span {
  font-size: 12px;
  line-height: 22px;
  color: #999;
  margin: 8px 0;
  display: inline-block;
}
.main .eventdetail ul li > div span i {
  font-size: 16px;
}
.main .eventdetail ul li:last-of-type {
  border-bottom: none;
}
.main .eventdetail ul li:hover > div h4 {
  color: #dd9947;
}
.main .eventdetail .rightside {
  width: 250px;
  float: right;
}
.main .eventdetail .rightside > div {
  background-color: #fff;
}
.main .eventdetail .rightside .hostcompany img {
  width: 250px;
  height: 190px;
  vertical-align: bottom;
}
.main .eventdetail .rightside .recommend {
  margin-top: 20px;
}
.main .eventdetail .rightside .recommend h3 {
  font-weight: 600;
  line-height: 40px;
  padding: 0 20px 0 10px;
  border-bottom: 1px solid #e9e9f0;
}
.main .eventdetail .rightside .recommend h3 a {
  float: right;
  color: #999;
  transform: rotate(0);
}
.main .eventdetail .rightside .recommend h3 a.on {
  transition: all .7s;
  transform: rotate(180deg);
}
.main .eventdetail .rightside .recommend ul li {
  padding: 15px 10px;
}
.main .eventdetail .rightside .recommend ul li img {
  width: 90px;
  height: 60px;
}
.main .eventdetail .rightside .recommend ul li > div {
  margin-left: 90px;
  padding-left: 10px;
  height: 60px;
}
.main .eventdetail .rightside .recommend ul li > div h4 {
  font-size: 14px;
  line-height: 22px;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main .eventdetail .rightside .recommend ul li > div span {
  margin: 0;
}
.main .eventdetail .leftside {
  background-color: #fff;
  margin-right: 270px;
  padding: 35px 30px;
}
.main .eventdetail .leftside h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main .eventdetail .leftside .article {
  text-align: center;
  padding: 0 25px;
  position: relative;
}
.main .eventdetail .leftside .article img {
  max-width: 100%;
}
.main .eventdetail .leftside .article h2 {
  font-size: 24px;
  line-height: 28px;
}
.main .eventdetail .leftside .article h3 {
  font-size: 16px;
  color: #333;
  text-align: left;
  margin: 25px 0;
}
.main .eventdetail .leftside .article span {
  display: inline-block;
  font-size: 12px;
  color: #999;
}
.main .eventdetail .leftside .article span i.collect {
  cursor: pointer;
}
.main .eventdetail .leftside .article span i.collect.on {
  color: red;
}
.main .eventdetail .leftside .article span b {
  font-weight: 400;
}
.main .eventdetail .leftside .article p {
  text-align: justify;
  color: #666;
  margin: 15px 0;
  line-height: 24px;
}
.main .eventdetail .leftside .article p.firstpra {
  text-indent: 30px;
}
.main .eventdetail .leftside .article > div {
  text-align: right;
  line-height: 26px;
  color: #999;
}
.main .eventdetail .leftside .article > div img {
  vertical-align: middle;
}
.main .eventdetail .leftside .article > div .more {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 1.5px 2px;
}
.main .eventdetail .leftside .article > div > div {
  float: right;
}
.main .eventdetail .leftside .article .sharepage {
  position: absolute;
  top: 48px;
  right: 20px;
}
.main .pagenav {
  margin-top: 50px;
}
.main .pagenav span {
  display: inline-block;
  padding: 2px 8px;
  border: 1px solid #e4e4ef;
  line-height: 23px;
}
.main .pagenav span:hover {
  border-color: #dd9947;
}
.main .pagenav span:hover a {
  color: #dd9947;
}
.main .pagenav input {
  margin-top: -5px;
  height: 27px;
  width: 28px;
  text-align: center;
  border: 1px solid #e4e4ef;
}
@media (max-width: 768px) {
  .main .topic .topic-left,
  .main .topic .topic-right {
    width: 100%;
    padding: 0;
    height: auto;
  }
  .main .eventdetail .rightside {
    display: none;
  }
  .main .eventdetail .leftside {
    margin-right: 0;
    padding: 20px 0;
  }
  .main .eventdetail .leftside ul li {
    padding: 10px 0;
  }
  .main .eventdetail .leftside .article p.firstpra {
    margin: 25px;
  }
}
@media (max-width: 480px) {
  .main .eventdetail .leftside .article h2 {
    font-size: 18px;
    overflow: hidden;
    display: -webkit-box;
    word-break: break-all;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .main .eventdetail .leftside .article > span {
    height: 36px;
    line-height: 18px;
    text-align: justify;
  }
  .main .eventdetail .leftside .article > span b {
    display: block;
  }
  .main .eventdetail .leftside .article p.firstpra {
    margin: 30px 0 10px ;
  }
  .main .eventdetail .leftside .article .sharepage {
    top: 75px;
  }
}
@media (max-width: 360px) {
  .main .eventdetail .leftside .article h2 {
    font-size: 16px;
  }
  .main .eventdetail .leftside .article h3 {
    font-size: 14px;
  }
  .main .eventdetail .leftside .article p {
    font-size: 12px;
  }
}
#jiathis_weixin_modal {
  transform: translateX(20px);
}
