/* LESS Document */
* {
  margin: 0;
  padding: 0;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
audio,
canvas,
video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
  visibility: hidden;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
  font-weight: normal;
}
em,
q,
cite,
address {
  font-weight: normal;
  font-style: normal;
}
address {
  display: inline;
}
big,
small {
  font-size: 12px;
}
body {
  font: 14px/1.5 "PinFang SC", "Microsoft Yahei", Microsoft Yahei, "Hiragino Sans GB", sans-serif;
  vertical-align: middle;
  color: #333;
  background: #fff;
}
img {
  border: 0;
}
li {
  list-style: none;
}
i {
  font-style: normal;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
}
strong {
  font-weight: bold;
}
del {
  font-family: "PinFang SC", Simsun;
}
dfn {
  padding-right: 2px;
  text-decoration: none;
  font-family: Arial;
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  text-align: left;
  font-weight: normal;
}
fieldset,
legend {
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button,
input,
select,
select optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  vertical-align: middle;
}
button,
input,
select[multiple],
textarea {
  background-image: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/* link */
a {
  color: #333;
  text-decoration: none;
  outline-style: none;
  cursor: pointer;
}
a:hover {
  color: #06c;
  text-decoration: underline;
  transition: color .20s linear;
  -o-transition: color .20s linear;
  -webkit-transition: color .20s linear;
  -moz-transition: color .20s linear;
}
a:link {
  text-decoration: none;
  cursor: pointer;
}
/*---------- 实用工具 ----------*/
/* form */
input,
select {
  vertical-align: middle;
  font-size: 14px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
  color: #333;
  outline: none;
}
input[type="text"]:disabled {
  background-color: #bbbbbb;
  color: #666;
}
input[type="checkbox"],
input[type="radio"] {
  margin-right: 4px;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: #33b0c4;
  color: #fff;
}
/* input placeholder color */
input::-webkit-input-placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}
input::-moz-placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}
input:-moz-placeholder {
  /* Older versions of Firefox */
  color: #bbbbbb;
  text-transform: uppercase;
}
input:-ms-input-placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}
/* 清除浮动 */
/* 圆角 */
/* link in text */
a.t {
  text-decoration: underline;
}
a.t:hover {
  color: #f30;
  text-decoration: underline;
}
/* clear float */
.cf {
  zoom: 1;
}
/* for IE */
.cf:after {
  content: ".";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
/* for other */
/* end of clear float */
/* float */
.left {
  float: left;
}
.right {
  float: right;
}
.fnone {
  float: none;
}
.middle {
  float: left;
}
/* text-align */
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.tcenter {
  text-align: center;
}
/* display */
.dis {
  display: block;
}
.undis {
  display: none;
}
/*常用字号*/
/*常用颜色*/
/* 圆角  */
/*边框圆角*/
.sanjiao {
  border-width: 20px;
  border-color: transparent transparent #ccc transparent;
  border-style: dashed dashed solid dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
/* clicked color */
.clcikActive {
  color: #fff;
  background: #33b0c4;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
/*单行载断*/
/*单行载断溢出省略号*/
/*3行载断溢出省略号*/
/*配模式定位*/
/* 水平垂直居中的公共类 */
/* 水平居中公共类 */
/* 垂直居中公共类 */
/*1200屏*/
/* 背景自适应 */
.banner {
  background-color: #0b0d12;
  position: relative;
  z-index: 666;
}
.banner .box {
  width: 100%;
  margin: 0 auto;
  padding: 140px 0 100px;
  background: url("../../images/family/FMbanner.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
}
.banner .box img {
  max-width: 100%;
}
.banner .box > a {
  display: block;
  width: 86px;
  height: 50px;
  line-height: 62px;
  margin: 40px auto 0;
  text-align: center;
  color: #e4bd73;
  border: 1px solid #e4bd73;
  background-color: rgba(12, 12, 17, 0.4);
  transition: all .5s;
}
.banner .box > a i {
  font-size: 30px;
}
.banner .box > a:hover {
  background-color: #bd8a4c;
  color: #fff;
}
.main {
  background-color: #f7f7f9;
  overflow: hidden;
  padding: 60px 0;
}
.main .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.main .container h2 {
  color: #333;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.main .container > .recactivity {
  margin-bottom: 60px;
}
.main .container > .recactivity ul {
  overflow: hidden;
}
.main .container > .recactivity ul li {
  float: left;
  background-color: #fff;
  padding: 0;
  width: 24%;
  margin: 0 1.3% 25px 0;
  position: relative;
  transition: all .3s;
}
.main .container > .recactivity ul li > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main .container > .recactivity ul li > .imgbox {
  padding: 0;
}
.main .container > .recactivity ul li > .imgbox img {
  width: 100%;
}
.main .container > .recactivity ul li > div {
  padding: 10px 18px;
}
.main .container > .recactivity ul li > div h3 {
  color: #333;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-bottom: 15px;
  transition: color .3s;
  min-height: 56px;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main .container > .recactivity ul li > div .detail {
  border-top: 1px dashed #ddd;
  padding: 15px 0;
}
.main .container > .recactivity ul li > div .detail > div {
  color: #666;
  line-height: 22px;
  margin-bottom: 10px;
}
.main .container > .recactivity ul li > div .detail > div span {
  float: left;
  font-size: 17px;
}
.main .container > .recactivity ul li > div .detail > div p {
  margin-left: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main .container > .recactivity ul li > div .detail .act-host span i {
  font-size: 22px;
  margin-left: -3px;
}
.main .container > .recactivity ul li > div .detail .act-pos span {
  font-size: 18px;
  margin-left: -1px;
}
.main .container > .recactivity ul li:hover {
  box-shadow: 1px 1px 8px #ddd;
}
.main .container > .recactivity ul li:hover > div h3 {
  color: #bd8a4c;
}
.main .container > .recactivity ul li:nth-of-type(4n) {
  margin-right: 0;
}
.main .container > .recactivity button {
  display: block;
  color: #333;
  font-size: 20px;
  width: 32%;
  line-height: 44px;
  margin: 10px auto 0;
  background-color: #fff;
  border: 1px solid transparent;
  transition: all .3s;
}
.main .container > .recactivity button:hover {
  color: #bd8a4c;
  border: 1px solid #bd8a4c;
}
.main .container .small-act {
  float: left;
  width: 49%;
  margin-right: 2%;
  background-color: #fff;
  border: 1px solid #e7e7ef;
  padding: 20px 0;
  height: 550px;
}
.main .container .small-act h3 {
  padding: 0 20px;
  font-size: 20px;
  color: #333;
  line-height: 28px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e7e7ef;
}
.main .container .small-act h3 a {
  float: right;
  font-size: 14px;
  color: #bd8a4c;
}
.main .container .small-act p {
  font-size: 14px;
  line-height: 24px;
  color: #666;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main .container .small-act:last-of-type {
  margin-right: 0;
}
.main .container .act-review ul li {
  padding: 20px;
  border-bottom: 1px dashed #d9dce7;
  overflow: hidden;
  position: relative;
}
.main .container .act-review ul li img {
  float: left;
  width: 31%;
  height: 112px;
}
.main .container .act-review ul li > div {
  margin-left: 31%;
  padding-left: 15px;
  height: 112px;
}
.main .container .act-review ul li > div h4 {
  font-size: 16px;
  color: #333;
  line-height: 28px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main .container .act-review ul li > div span {
  font-size: 12px;
  line-height: 22px;
  color: #999;
  margin: 8px 0;
  display: inline-block;
}
.main .container .act-review ul li > div span i {
  font-size: 16px;
}
.main .container .act-review ul li:last-of-type {
  border-bottom: none;
}
.main .container .act-review ul li a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main .container .act-review ul li:hover h4 {
  color: #bd8a4c;
}
.main .container .act-launch > div {
  padding: 20px;
  text-align: center;
}
.main .container .act-launch > div img {
  max-width: 100%;
}
.main .container .act-launch > div p {
  margin: 20px 0;
  text-align: justify;
  padding-left: 15px;
  position: relative;
}
.main .container .act-launch > div p:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 8px;
  left: 0;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 5px solid #d3d3e0;
}
.main .container .act-launch > div > a {
  display: block;
  width: 60%;
  max-width: 200px;
  margin: 40px auto 0;
  text-align: center;
  line-height: 36px;
  border: none;
  background-color: #c0933c;
  color: #fff;
  font-size: 16px;
}
@media (max-width: 900px) {
  .main {
    padding: 40px 0;
  }
  .main .container h2 {
    padding-left: 15px;
  }
  .main .container > .recactivity {
    padding: 0 20px;
  }
  .main .container > .recactivity ul {
    overflow: hidden;
  }
  .main .container > .recactivity ul li {
    width: 32%;
    margin-right: 2%;
  }
  .main .container > .recactivity ul li:nth-of-type(4n) {
    margin-right: 2%;
  }
  .main .container > .recactivity ul li:nth-of-type(3n) {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .main {
    padding: 30px 0;
  }
  .main .container > .recactivity {
    padding: 0 15px;
    margin: 0;
  }
  .main .container > .recactivity ul li {
    width: 47%;
    margin-right: 6%;
  }
  .main .container > .recactivity ul li:nth-of-type(4n) {
    margin-right: 6%;
  }
  .main .container > .recactivity ul li:nth-of-type(3n) {
    margin-right: 6%;
  }
  .main .container > .recactivity ul li:nth-of-type(2n) {
    margin-right: 0;
  }
  .main .container > .recactivity button {
    margin: 0;
    width: 100%;
    background-color: #fffcf8;
  }
  .main .container .small-act {
    width: 100%;
    margin: 0;
    border: none;
    height: auto;
  }
  .main .container .small-act h3 {
    padding: 20px;
    background-color: #f7f7f9;
  }
}
@media (max-width: 650px) {
  .main .container h2 {
    padding-left: 30px;
  }
  .main .container > .recactivity {
    padding: 0;
  }
  .main .container > .recactivity ul li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    padding: 25px 30px;
    border-bottom: 1px solid #e7e7ef;
  }
  .main .container > .recactivity ul li > .imgbox {
    width: 32%;
    float: left;
    margin-left: 0;
    padding: 0;
  }
  .main .container > .recactivity ul li > .imgbox img {
    width: 100%;
    height: 140px;
  }
  .main .container > .recactivity ul li > div {
    margin-left: 32%;
    padding: 0 0 0 20px;
    height: 140px;
  }
  .main .container > .recactivity ul li > div h3 {
    margin-bottom: 5px;
  }
  .main .container > .recactivity ul li > div > .detail {
    border-top: none;
  }
  .main .container > .recactivity ul li > div > .detail > div {
    margin-bottom: 0;
  }
  .main .container > .recactivity ul li:nth-of-type(4n) {
    margin-right: 0;
  }
  .main .container > .recactivity ul li:nth-of-type(3n) {
    margin-right: 0;
  }
  .main .container > .recactivity ul li:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media (max-width: 480px) {
  .main .container h2 {
    padding-left: 15px;
  }
  .main .container > .recactivity {
    padding: 0;
  }
  .main .container > .recactivity ul li {
    padding: 15px;
  }
}
